.container {
  position: relative;
}
.close {
  position: absolute !important;
  top: -10px;
  right: -15px;
  padding: 2px !important;
  // border-color: #222b45 !important;
  border-radius: 20px;
}
.shake-1:hover, .shake-2:hover, .shake-3:hover {
  animation: none;
}
.shake-1 {
  animation: shake 1.1s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
.shake-2 {
  animation: shake 1.1s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}
.shake-3 {
  animation: shake 1.1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.small-height {
  height: 300px;
}
.padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
